@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #f4f4f4;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #1e1e1e;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sobre-mim {
  min-height: 100vh;
  background-color: #1e1e1e;
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 20px 40px;
    border-bottom: 2px solid #3aaf5c;
}

.logoheader {
    height: 70px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 700px;
}
.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 12px;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #3aaf5c;
}

.navbar span {
    color: #555;
    margin: 0 8px;
}

.btn-login {
    background-color: #3aaf5c;
    color: #000;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.btn-login:hover {
    background-color: #5fdc7d;
    color: #000 !important;
}
.formacao-cognitiva {
    background-color: #1e1e1e;
    padding: 80px 20px;
    text-align: center;
    color: #f2f2f2;
}

.formacao-cognitiva h1 {
    font-size: 44.8px;
    color: #3aaf5c;
    margin-bottom: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 6px #000;
}

.formacao-cognitiva .intro {
    font-size: 18px;
    margin-bottom: 40px;
    color: #e8e8e8;
    text-shadow: 1px 1px 3px #000;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.beneficios {
    display:flex;
    justify-content: center;
    gap: 20px;
    padding: 60px 20px;
    background-color: #1e1e1e;
    flex-wrap: wrap;
}

.card-beneficio {
    width: 300px;
    background-color: #2b2b2b;
    padding: 25px;
    border-radius: 10px;
    color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    transition: transform 0.3s;
}

.card-beneficio:hover {
    transform: translateY(-5px);
    box-shadow: 0 3.5px 15px #3aaf5c;
}

.card-beneficio i {
    font-size: 40px;
    color: #3aaf5c;
    margin-bottom: 15px;
}

.card-beneficio h2 {
    color: #3aaf5c;
    font-size: 22.4px;
    margin-bottom: 10px;
}

.card-beneficio p {
    font-size: 15px;
    line-height: 1.6;
    color: #ddd;
    text-shadow: 1px 1px 3px #000;
}

.citacao {
    font-style: italic;
    color: #ccc;
    margin-top: 40px;
    font-size: 19.2px;
}

.botao-centro {
    margin-top: 30px;
}

.btn-conheca {
    background-color: #3aaf5c;
    color: #000;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s;
}

.btn-conheca-hover{
    background-color: #5fdc7d;
}

.card-voltar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(135deg, hwb(130 4% 84%), lab(25.67% -22.95 18.15));
  box-shadow: 0 -4px 10px rgba(58, 175, 92, 0.5);
  transition: background 0.4s ease;
  cursor: pointer;
}

.botao-voltar {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  padding: 12px 28px;
  background-color: rgba(0, 0, 0, 0.25);
  border: 2px solid #fff;
  border-radius: 15px;
  transition: all 0.4s ease;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.botao-voltar:hover {
  transform: scale(1.1);
  background-color: #fff;
  color: #3aaf5c;
  border-color: #3aaf5c;
  box-shadow: 0 6px 12px rgba(58, 175, 92, 0.8);
}

.user-info {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

#b_usuario{
    color: #3aaf5c;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.setinha {
    font-size: 14px;
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.setinha:hover {
    transform: rotate(90deg) scale(1.2);
    color: #00ff88;
}